<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MicroService Store</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">

        <link href="/dist/<%= assets.css %>" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <script>
            window.expressConfig = {
                protocol: '<%= protocol %>',
                hostname: '<%= hostname %>',
                baseUrl: '<%= baseUrl %>',
                cartApi: '<%= cartApi %>',
                productApi: '<%= productApi %>',
                searchApi: '<%= searchApi %>',
                stockApi: '<%= stockApi %>',
                userApi: '<%= userApi %>',
                wishlistApi: '<%= wishlistApi %>',
            };
        </script>
        <script src="/dist/<%= assets.js %>" type="application/javascript"></script>
    </body>
</html>
